<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Estamos ante una encrucijada. Las opciones son dos: seguir dependiendo de la extracción de petróleo, y condenarnos; o apostar a la sostenibilidad, la educación futurista y la generación de tecnologías propias.">

    <meta property="og:title" content="Venezuela Moderna o muerta - Una visión para hacer florecer nuestro país">
      <meta property="og:image" content="portada.jpeg">
      <meta property="og:description" content="Estamos ante una encrucijada. Las opciones son dos: seguir dependiendo de la extracción de petróleo, y condenarnos; o apostar a la sostenibilidad, la educación futurista y la generación de tecnologías propias.">
      <meta property="og:site_name" content="Venezuela moderna o muerta."/>

      <meta name="twitter:card" content="portada.jpeg">
        <meta name="twitter:site" content="@venezuelamodernaomuerta">
        <meta name="twitter:title" content="Venezuela Moderna o muerta - Una visión para hacer florecer nuestro país">
        <meta name="twitter:description" content="Estamos ante una encrucijada. Las opciones son dos: seguir dependiendo de la extracción de petróleo, y condenarnos; o apostar a la sostenibilidad, la educación futurista y la generación de tecnologías propias.">
        <meta name="twitter:creator" content="@venezuelamodernaomuerta">
        <meta name="twitter:image:src" content="portada.jpeg">
       <%= favicon_link_tag asset_path('portada.jpeg') %>

    <title>Venezuela Moderna o muerta. Una visión para hacer florecer nuestro país</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
